################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/Coree.Utils/.vs
/src/Coree.Utils/obj
/src/Coree.Utils/bin
